Source: libmm-ta
Section: libs
Priority: extra
Maintainer: Shin Seung Bae <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: Shin Seung Bae <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: libmm-ta
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multimedia Framework Time Analysis Library
Version: 2.0
 
Package: libmm-ta-dev
XB-Public-Package: no
Section: libdevel
Architecture: any
Depends: libmm-ta (= ${Source-Version}), libmm-ta-sdk-dev
Description: Multimedia Framework Time Analysis Development Library
Version: 2.0

Package: libmm-ta-sdk-dev
Section: libdevel
Architecture: any
Depends: libmm-ta (= ${Source-Version})
Description: Multimedia Framework Time Analysis SDK Development Library
Version: 2.0

Package: libmm-ta-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-ta (= ${Source-Version})
Description: Multimedia Framework TA Library (unstripped)
Version: 2.0
